<footer>
    <section class="footer">

        <div class="logo">
            <img alt="logo"
                src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/ed760990-d166-4b24-a7e3-46eae5fad75c_Mont%20Everest%20Masala%20%2810%29.png" />
        </div>

        <div class="social-div">
            <h3>{{ 'FOOTER.heading' | translate }}</h3>
            <div class="social">

                <a href="https://www.facebook.com/mont.everestmontreal/">
                    <img alt="fb"
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/47b9f578-8c7f-4207-bef0-39af12a546a7_fb.png" />
                </a>

                <a href="https://www.instagram.com/monteverestmasala/">
                    <img alt="insta"
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/7fa7828a-7233-4d86-8202-8546c5130380_insta.png" />
                </a>

                <a href="https://www.yelp.ca/biz/mont-everest-masala-montr%C3%A9al">
                    <img alt="yelp"
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/a722221f-9656-455c-9a6a-ffd678c58cc3_Yelp-Logo.png" />
                </a>

                <a
                    href="https://www.google.com/search?q=Mont+Everest+Masala+1999+Mont-Royal+Ave+E%2C+Montreal%2C+Quebec+H2H+1J4%2C+Canada&rlz=1C1CHBF_enIN1083IN1083&oq=Mont+Everest+Masala%091999+Mont-Royal+Ave+E%2C+Montreal%2C+Quebec+H2H+1J4%2C+Canada&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBBzI2M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8">
                    <img alt="google"
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/d6b11212-cf58-4a21-bad4-2d50653020db_google-removebg-preview.png" />
                </a>
            </div>
        </div>

        <div class="links">
            <h3>{{ 'FOOTER.quicklinks' | translate }}</h3>
            <p>
                <a *ngFor="let link of ('FOOTER.links' | translate)" [href]="link.url">
                    {{link.name | translate}}
                </a>
            </p>
        </div>

        <div class="contact">
            <h3>{{ 'FOOTER.contactinfo' | translate }}</h3>
            <div class="info">
                <a href="https://maps.app.goo.gl/xdLgujNEezX29EsLA">
                    <img alt="address" src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/acd8dccd-4147-4c69-8039-eaaf9836ccf1_location_on_FILL0_wght400_GRAD0_opsz24%202.png" />
                    {{ 'FOOTER.address' | translate }}
                </a>
                
                <a href="mailTo: monteverestmasala@gmail.com">
                    <img alt="call" src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/9cabfeea-bfa5-4837-aaf8-a855d5364b91_mail_FILL0_wght400_GRAD0_opsz24%202.png" />
                    monteverestmasala@gmail.com
                </a>

                <a href="tel:1 913-575-8381">
                    <img alt="call" src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/58e871cd-fb0c-4799-9318-0e2c4839ca96_call_FILL0_wght400_GRAD0_opsz24%202.png" />
                    1 913-575-8381
                </a>
            </div>
        </div>
    </section>

    <section class="closing-section">
        <div>
            {{ 'FOOTER.copyright' | translate }}
        </div>
    </section>
</footer>