<main>
    <app-navbar></app-navbar>
    <section class="home-banner">
        <h1>Checkout</h1>
    </section>

    <section class="checkout-section" *ngIf="!successMsg">
        <h3>CHECKOUT INFORMATION</h3>
        <form [formGroup]="userDetails">
            <div>
                <input type="text" name="firstName" placeholder="{{ 'FORM.first' | translate }}" required formControlName="firstName" />
                <input type="text" name="lastName" placeholder="{{ 'FORM.last' | translate }}" required formControlName="lastName" />
            </div>
            <div>
                <input type="number" name="phone" placeholder="{{ 'FORM.phone' | translate }}" required formControlName="phone" />
                <input type="email" name="email" placeholder="{{ 'FORM.email' | translate }}" required formControlName="email" />
            </div>
            <div>
                <input type="text" name="address" placeholder="{{ 'FORM.address' | translate }}" required formControlName="address" />
                <input type="text" name="city" placeholder="{{ 'FORM.city' | translate }}" required formControlName="city" />
            </div>
            <div>
                <input type="text" name="state" placeholder="{{ 'FORM.state' | translate }}" required formControlName="state" />
                <input type="text" name="country" placeholder="{{ 'FORM.country' | translate }}" required formControlName="country" />
            </div>
            <div>
                <input type="tel" name="pincode" placeholder="{{ 'FORM.pincode' | translate }}" required formControlName="pincode" />
            </div>
            <div class="checkout-btn">
                <button (click)="checkout()" [disabled]="userDetails.invalid">{{ 'CHECKOUT.checkout' | translate }}</button>
            </div>
        </form>
    </section>

    <section class="success-section" *ngIf="successMsg">
        <h3>{{ 'CART.thanks' | translate }}</h3>
        <p>{{ 'CART.orderplaced' | translate }}</p>
        <span class="material-symbols-outlined">
            check_circle
        </span>
        <button routerLink="/">
            {{ 'CART.home' | translate }}
        </button>
    </section>

    <app-footer></app-footer>
</main>