main {

    section.home-banner {
        background: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/78f9fdc9-1965-444d-8608-ce3c6843095e_97-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10rem;
        display: grid;
        justify-content: center;
        gap: 20px;
        height: 50vh;
        align-items: center;

        h1 {
            font-family: "Fraunces", serif;
            font-size: 40px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }
    }

    section.checkout-section {
        padding: 10rem;
        display: grid;
        gap: 20px;

        form {
            display: grid;
            gap: 20px;

            div {
                display: flex;
                gap: 20px;
                justify-content: space-between;

                input {
                    border-radius: 8px;
                    border: 1px solid lightgray;
                    width: 100%;
                    padding: 10px;
                }
            }

            .checkout-btn {
                display: flex;
                justify-content: center;

                button {
                    border: 1px solid #865439;
                    padding: 10px 20px;
                    background: #865439;
                    font-size: 14px;
                    color: #fff;
                    font-family: "Fraunces", serif;
                    border-radius: 4px;
                }

                button:disabled {
                    background-color: transparent;
                    border: 1px solid #865439;
                    color: #865439;
                }
            }
        }
    }

    section.success-section {
        display: inline-grid;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 20px 40px;

        h3 {
            color: black;
            font-size: 20px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            font-weight: 600;
        }

        span {
            font-size: 120px;
            color: #4bb543;
        }

        button {
            border: 1px solid #865439;
            padding: 10px 20px;
            background: #865439;
            font-size: 14px;
            color: #fff;
            font-family: "Fraunces", serif;
            border-radius: 4px;
        }
    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {
        section.home-banner {
            padding: 2rem;

            h1 {}
        }

        section.checkout-section {
            padding: 5rem 2rem;
        }
    }
}