main {
    font-family: "Fraunces", serif;

    section.label-section {
        background-image: url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/797ca874-2e0c-4d1a-a488-4197df0b754c.jpg");
        background-size: cover;
        padding: 11rem 5rem;

        div {
            justify-content: center;
            background: #00000040;
            text-align: center;
            padding: 10px;

            h3 {
                color: white;
                font-size: 50px;
                font-weight: 600;
                font-family: "Fraunces", serif;
                margin: 0px;
            }

            h4 {
                a {
                    color: #ffffff;
                    font-size: 15px;
                    font-family: "Fraunces", serif;
                }

                span {
                    font-size: 15px;
                    color: #fff;
                    font-weight: 700;
                    font-family: "Fraunces", serif;
                }
            }
        }
    }

    section.checkout-section {
        padding: 7%;
        display: grid;
        gap: 20px;
        width: 100%;

        form {
            display: grid;
            gap: 20px;

            div {
                display: flex;
                gap: 20px;
                justify-content: space-between;

                input {
                    border-radius: 8px;
                    border: 1px solid lightgray;
                    width: 100%;
                    padding: 10px;
                }
            }

            .checkout-btn {
                display: flex;
                justify-content: center;

                button {
                    border: 1px solid #865439;
                    padding: 10px 20px;
                    background: #865439;
                    font-size: 14px;
                    color: #fff;
                    font-family: "Fraunces", serif;
                    border-radius: 4px;
                }
    
                button:disabled {
                    background-color: transparent;
                    border: 1px solid #865439;
                    color: #865439;
                }
            }
        }
    }

    section.success-section {
        display: inline-grid;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 20px 40px;

        h3 {
            color: black;
            font-size: 20px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            font-weight: 600;
        }

        span {
            font-size: 120px;
            color: #4bb543;
        }

        button {
            border: 1px solid #865439;
            padding: 10px 20px;
            background: #865439;
            font-size: 14px;
            color: #fff;
            font-family: "Fraunces", serif;
            border-radius: 4px;
        }
    }
}