main {
    font-family: "Poppins", sans-serif;

    .hero-section {
        background-image: url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/3f7761a4-919b-4ab6-9518-1b5a0179ffa8_32505505_xiantiao1sucai.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5rem 10rem;
        height: auto;

        .container-section {
            display: grid;
            gap: 20px;

            div {
                display: grid;
                gap: 20px;
                width: 70%;
                margin: auto;

                h1 {
                    font-weight: 600;
                    font-size: 40px;
                    color: #fff;
                    margin: 0;
                    text-align: center;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    color: #B2B2B2;
                    margin: 0;
                    line-height: 30px;
                    width: 80%;
                    text-align: center;
                }
            }

            img {
                width: 65%;
                margin: auto;
            }
        }
    }

    .steps-section {
        padding: 10rem;
        position: relative;

        .steps-wrapper {
            position: relative;

            .dotted-line {
                position: absolute;
                height: 96%;
                left: 30px;
                top: 0;
                bottom: 0;
                width: 3px;
                background-image: linear-gradient(to bottom, #000 50%, transparent 50%);
                background-size: 2px 10px;
                background-repeat: repeat-y;
                z-index: 0;
            }

            .step {
                display: flex;
                margin-bottom: 40px;
                justify-content: center;
                gap: 20px;

                .inner-section {
                    display: flex;
                    width: 50%;

                    .step-number {
                        box-shadow: 0px 1px 7.7px 0px #A2A2A2;
                        font-size: 36px;
                        padding: 12px;
                        border-radius: 50px;
                        font-weight: 600;
                        width: 65px;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        position: relative;
                        z-index: 2;
                    }

                    .step-content {
                        padding: 0px 20px;
                        display: grid;
                        gap: 10px;
                        height: fit-content;

                        h3 {
                            font-size: 30px;
                            font-weight: 600;
                            margin: 0;
                            color: #1E1E1E;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 400;
                            color: #666;
                            margin: 0;
                        }
                    }
                }

                img {
                    width: 50%;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .faq-container {
        background: #E2EBFF;
        padding: 5rem 10rem;
        display: grid;
        gap: 40px;

        h2 {
            font-weight: 600;
            font-size: 40px;
            margin-top: 0;
            text-align: center;
            color: #1E1E1E;
        }

        .faq-div {
            display: grid;
            gap: 20px;

            .faq {
                border: 0;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                background: #ffffff;

                .faq-question {
                    cursor: pointer;
                    color: #141414;
                    font-size: 18px;
                    font-weight: 600;
                    width: 85%;
                }

                .faq-answer {
                    width: 80%;
                    color: #1e1e1e;
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;
                }

                .arrow-icon {
                    cursor: pointer;
                    width: 20px;
                }
            }
        }
    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {
        .hero-section {
            padding: 5rem 2rem;

            .container-section {
                div {
                    width: 100%;

                    h1 {
                        font-size: 30px;
                    }

                    p {
                        width: 100%;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .steps-section {
            padding: 5rem 2rem;

            .steps-wrapper {

                .step {
                    flex-direction: column;

                    .inner-section {
                        width: 100%;

                        .step-number {
                            font-size: 28px;
                            height: 60px;
                        }

                        .step-content {

                            h3 {
                                font-size: 20px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }
                    }

                    img {
                        width: 80%;
                        margin-left: auto;
                    }
                }
            }
        }

        .faq-container {
            padding: 5rem 2rem;

            h2 {
                font-size: 30px;
            }

            .faq-div {
                width: auto;
            }
        }
    }
}