<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/home"> <img
                    src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/0a1ed984-0c31-460e-9333-d2b365f0b66d_Antler%20Logo%201.png" />
            </a>

            <button *ngIf="!close" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" (click)="change(!close)">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <button *ngIf="close" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" (click)="change(!close)">
                <span class="sr-only">Toggle navigation</span>
                <span class="material-icons-outlined">
                    close
                </span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngFor="let link of links">
                    <a *ngIf="!link.options?.length" [routerLink]="link.url">{{link.name}}</a>

                    <a *ngIf="link.options?.length" class="nav-link dropdown-toggle" routerLinkActive="active"
                        id="navbarDropdown" role="button" (click)="toggleButton()"
                        [attr.aria-expanded]="(isDropdownOpen) ? 'true' : 'false'" aria-haspopup="true"
                        (mouseover)="closeDropdown()">
                        {{ link.name }}
                    </a>

                    <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }" (mouseleave)="closeDropdown()">
                        <div class="dropdown-values" *ngFor="let option of link.options">
                            <a [routerLink]="option.link" class="dropdown-item">{{option.name}}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>