.navbar {
    top: 0px;
    position: absolute;
    margin-bottom: 0px;
    background: transparent;
    border-bottom: 0px;
    padding: 20px;
    width: 100%;

    .container {
        width: 100%;

        .navbar-header {
            a {
                img {
                    width: 100px;
                }
            }

            .navbar-toggle {
                border: none;

                .icon-bar {
                    background-color: #F4F4F4;
                }

                .material-symbols-outlined {
                    color: #F4F4F4;
                }
            }
        }

        .navbar-collapse {

            .navbar-nav {
                display: flex;
                justify-content: end;
                align-items: center;
                float: none;
                margin-top: 10px;
                margin-right: 50px;

                li {
                    a {
                        color: #fff;
                        font-weight: 400;
                        font-size: 16px;
                        text-transform: uppercase;
                        text-shadow: 4px 4px 20px rgb(0 0 0 / 80%);
                    }
                }

                .external {
                    button {
                        border-radius: 8px;
                        background: #a6674a;
                        padding: 10px 20px;
                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        border: none;
                    }

                    button:hover {
                        background: #fff;
                        color: #a6674a;
                    }
                }

                .active a {
                    color: #a6674a;
                    font-weight: 600;
                    background-color: transparent;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .navbar {
        .container {

            .navbar-toggle {
                margin-top: 20px;
                margin-right: 50px;
            }

            .navbar-collapse {
                background: rgb(0 0 0 / 71%);
                border-color: black;

                .navbar-nav {
                    display: grid;
                    justify-content: start;
                    float: left;
                    padding: 20px;
                }
            }
        }
    }
}