.heading {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #ffffff;

    .logoMobile {
        display: none;
    }

    .logoDesktop {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 7rem;
        }

        p {
            color: white;
            font-size: 18px;
            margin: 0;
        }
    }

    .navbar-inverse {
        background-color: transparent !important;
        border-color: transparent;
        margin: 0px;

        .navbar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }

        .navbar-collapse {
            .navbar-nav {
                display: flex;
                justify-content: space-between;
                gap: 15px;
                align-items: center;

                li {
                    a {
                        font-size: 14px;
                        font-weight: 500;
                        color:#000000;
                        text-transform: uppercase;
                    }

                    a:hover {
                        text-decoration: underline;
                        color:#000000;
                    }

                    a.active {
                        font-weight: 700 !important;
                        color:#000000;
                    }

                    .dropdown-menu {
                        padding: 0px 10px;
                        text-align: center;
                        border-radius: 6px;
                        background: white;
                        min-width: 140px;
                        display: none;
                        border: none;

                        div {
                            a {
                                width: 100%;
                                color: #000;
                                letter-spacing: 1px;
                                text-decoration: none;
                                font-weight: 600;
                                font-size: 12px;
                                padding: 5px;
                                margin: 3px 1px;
                                border-radius: 4px;
                                display: grid;
                            }

                            .sub-categories {
                                list-style-type: none;
                                padding: 0;
                            }
                        }
                    }

                    .togglehover:hover>div {
                        display: block;
                    }
                }
            }
        }
    }
}

// Tablet
@media only screen and (max-device-width: 768px) {}

// Mobile
@media only screen and (max-device-width: 480px) {

    .heading {
        display: block;

        .logoDesktop {
            display: none;
        }

        .logoMobile {
            display: flex;
            width:100px;
        }

        .halal {
            display: none;
        }

        .navbar-inverse {
            .navbar-header {
                gap: 0px;
            }

            .navbar-toggle {
                border: none;
                padding: 0;
                margin: 0;
                position: absolute;
                right: 0;
                .icon-bar{
                    background-color:#000000;
                }

                .material-symbols-outlined {
                    background: transparent !important;
                }
            }

            .navbar-collapse {
                border: none;
                box-shadow: none;

                .navbar-nav {
                    display: grid;
                    justify-content: center;
                }
            }
        }
    }
}