<main>
    <app-navbar></app-navbar>
    <div class="banner-div" [ngStyle]="{
        background: currentSelectedBanner[0]?.img
          ? 'linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(' +
          hero.hosts[currentRouteParams][0].bgImage +
            ')'
          : 'linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(' +
            hero.hosts[currentRouteParams][0].bgImage +
            ')'
      }">
      <div *ngFor="let services of hero.hosts[currentRouteParams]; let i = index" class="insidebanner">
        <h1>{{services.title}}</h1>
        <p>
            {{services.description}}
        </p>
        <img [src]="services.topimage" alt="Marketing Opportunity">
      </div>
      
    </div>

    <div class="second-section" *ngFor="let services of hero.hosts[currentRouteParams]; let i = index">
        <div class="left-image">
            <img [src]="services.image" />
        </div>
        <div class="right-content">
            <h2>{{services.secondsectionheading}}</h2>
            <div class="list" *ngFor="let i of services.secondSection">
                <div class="icon">
                    <img [src]="i.icon" />
                </div>
                    <div class="content">
                        <h3>{{i.content.heading}}</h3>
                        <p>{{i.content.para}}</p>
                    </div>
                </div>
            </div>
       
    </div>
    <div class="services" *ngFor="let services of hero.hosts[currentRouteParams] ; let i = index" >
       <div *ngFor="let s of services.sections" [ngStyle]="{'background-color': s.bgColor, 'flex-direction': i % 2 !== 0 ? 'row-reverse' : 'row'}" class="section">
        <h2 class="title">{{ s.title }}</h2>
        <div class="content">
          <img [src]="s.image" alt="Section Image" class="image" />
          <div class="text-box">{{ s.text }}</div>
        </div>
    </div>
      </div>
    
    <app-footer></app-footer>
  </main>