main {
    font-family: "Playfair Display", serif !important;
    margin-top: 10rem;



    .banner-div {
        background-size: cover !important;
        background-position: center !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-repeat: no-repeat;
        height: auto;
        padding: 5% 5% 0%;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: start;
            width: 100%;
            padding: 3rem;
            gap: 10px;

            h1 {
                font-family: Poppins;
                font-weight: 500;
                font-size: 40px;
                line-height: 45px;
                letter-spacing: 0%;
                text-align: center;
                color: #ffffff;
            }


            p {
                font-family: Poppins;
                font-weight: 400;
                font-size: 22px;
                line-height: 30px;
                letter-spacing: 0%;
                text-align: center;
                color: #B2B2B2;
            }
        }

        .bouncingdiv {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: transparent;

            .bounce-button {
                background-color: #000000;
                border: 2px solid #ffffff;
                border-radius: 100%;
                width: 70px;
                height: 70px;
                padding: 10px 20px;
                color: #fff;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
                animation: bounce 0.8s infinite;

                svg {
                    margin-right: 5px;
                    fill: #fff;
                    /* White arrow color */
                }
            }

            @keyframes bounce {

                0%,
                100% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-5px);
                }
            }
        }
    }

    .second-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .left-image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .right-content {
            width: 50%;
            display: flex;
            flex-direction: column;

            h2 {
                font-family: Poppins;
                font-weight: 500;
                font-size: 40px;
                line-height: 52px;
                letter-spacing: 0%;
                color: #1E1E1E;
            }

            .list {
                display: flex;
                align-items: center;

                .icon {
                    width: 10%;

                    img {
                        width: 50px;
                    }

                    .content {
                        width: 80%;

                        h3 {
                            font-family: Poppins;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 30px;
                            letter-spacing: 0%;
                            color: #212121;
                        }

                        p {
                            font-family: Poppins;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 30px;
                            letter-spacing: 0%;
                            color:#212121;
                        }
                    }
                }
            }
        }
    }

    .services {
        .section {
            padding: 40px;
            text-align: center;
        }

        .title {
            font-family: Poppins;
            font-weight: 500;
            font-size: 40px;
            line-height: 45px;
            letter-spacing: 0%;
            text-align: center;
            color: #1E1E1E;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .image {
            width: 50%;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .text-box {
            background: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            font-family: Poppins;
            font-weight: 400;
            font-size: 30px;
            line-height: 46px;
            letter-spacing: 0%;
            
        }
    }
}

@media only screen and (max-device-width: 480px) {
   main{
    .services{
        .image{
            width:100%;
        }
        .content{
            flex-direction: column;
        }}
    .second-section{
        flex-direction: column;
        .right-content{
            width:100%;
            padding: 10px;
            .list{
                gap:10px;
            }
        }
        .left-image{
            width:100%;
        }
    }
    .banner-div{
        .insidebanner{
            img{
                width: 100%;
            }
        }
    }
   }
}