main {

    section.home-banner {
        background: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/bf24b3b6-aeba-41d8-a861-079cf06fc2fa_95-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10rem;
        display: grid;
        justify-content: center;
        gap: 20px;
        height: 50vh;
        align-items: center;

        h1 {
            font-family: "Fraunces", serif;
            font-size: 30px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }
    }

    section.information {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem;
        gap: 20px;

        div {
            width: 33%;
            display: grid;
            gap: 20px;

            h3 {
                text-align: center;
                color: #000;
                font-size: 20px;
                font-weight: 400;
                font-family: "Fraunces", serif;
                text-transform: uppercase;
                margin: 0;
            }

            a {
                text-decoration: none;

                p {
                    text-align: center;
                    font-size: 14px;
                    color: #5f5f5f;
                    font-weight: 400;
                    font-family: "DM Sans", sans-serif;
                }
            }
        }
    }

    section.form {
        padding: 10rem;


        form {
            display: grid;
            gap: 20px;
            width: 50%;
            margin: auto;
            border-radius: 10px;

            h2 {
                text-align: center;
                color: #000;
                font-size: 40px;
                font-weight: 400;
                font-family: "Fraunces", serif;
                text-transform: uppercase;
                margin: 0;
            }

            div {
                display: flex;
                justify-content: center;
                gap: 20px;

                input {
                    width: 50%;
                }
            }

            input,
            textarea {
                border-radius: 5px;
                border: none;
                background: #ebebeb;
                color: #767575;
                padding: 15px;
                font-family: "Fraunces", serif;
            }

            ::-webkit-input-placeholder,
            ::-moz-placeholder,
            ::-ms-input-placeholder {
                color: #767575;
                font-family: "Fraunces", serif;
            }

            button {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                padding: 15px 50px;
                border: 1px solid #FFF;
                width: 50%;
                color: #fff;
                background-color: #a6674a;
                margin: auto;
                font-family: "Fraunces", serif;
                text-transform: uppercase;
            }

            .submit {
                background-color: #52b963;
            }
        }
    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {

        section.information {
            display: grid;
            padding: 10rem 2rem;

            div {
                width: 100%;
            }
        }

        section.form {
            padding: 10rem 2rem;

            form {
                width: 100%;

                div {

                    input {
                        gap: 10px;
                    }
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}