main {
    font-family: "Poppins", sans-serif;

    section {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        padding: 5rem 10rem;

        .image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .form {
            width: 50%;
            box-shadow: 0px 9px 19.8px 10px #0000000A;
            background-color: #fff;
            border-radius: 20px;
            padding: 5rem;
            display: grid;
            gap: 40px;

            h2 {
                color: #1e1e1e;
                font-size: 30px;
                font-weight: 600;
                margin: 0;
                text-align: center;
            }

            form {
                display: grid;
                gap: 20px;

                input,
                textarea {
                    border: 1px solid #BABABA;
                    padding: 10px;
                    border-radius: 6px;
                }

                button {
                    border-radius: 8px;
                    background: #07F;
                    padding: 15px 90px;
                    color: #FFF;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    width: fit-content;
                    margin: auto;

                    &:enabled:hover {
                        background: #fff;
                        color: #07F;
                    }

                    &:disabled {
                        background: #779fce;
                    }
                }

                .success {
                    background-color: #53a653;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    main {

        section {
            padding: 5rem 2rem;
            flex-direction: column;

            .image {
                width: 100%;
            }

            .form {
                width: 100%;
                padding: 2rem;

                h2 {
                    font-size: 30px;
                }
            }
        }
    }
}