<main>
    <app-navbar></app-navbar>
    <section>
        <div class="image">
            <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/79436da6-7d48-4452-8727-43df985e6638_5464016_2846516%201.png"
                alt="">
        </div>
        <div class="form">
            <h2>Contact Us</h2>
            <form action="" [formGroup]="userDetailsForm">
                <input type="text" placeholder="Name" required formControlName="Name">
                <input type="email" placeholder="Email" required formControlName="Email">
                <input type="text" placeholder="Business Name" required formControlName="BusinessName">
                <textarea placeholder="Message" cols="5" rows="5" formControlName="Message"></textarea>
                <button (click)="submitForm()" [disabled]="!userDetailsForm.valid" *ngIf="!success">Submit</button>
                <button class="success" *ngIf="success">Submitted!</button>
            </form>
        </div>
    </section>
    <app-footer></app-footer>
</main>