<main>
    <app-navbar></app-navbar>
    

    <section class="form">
        <div class="leftside">
        <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/e9268a78-9291-4bf3-97c5-0478d7a512d2_5464016_2846516%201.png"/>
    </div>
        <div class="rightside">
        <form [formGroup]="contactDetails">
            <h2>Contact Us</h2>
            <div>
                <input name="firstName" placeholder="Enter your first name" required formControlName="firstName" />
                <input name="lastName" placeholder="Enter your last name" formControlName="lastName" />
            </div>
            <div>
                <input name="email" placeholder="email" required formControlName="email" />
                <input name="phone" placeholder="phone" required formControlName="phone" />
            </div>
            <textarea type="text" class="control-form" name="message" placeholder="Message"
                formControlName="message"></textarea>
            <button (click)="submitForm()" *ngIf="!success" type="submit">Submit</button>
            <button *ngIf="success" class="submit">Submited</button>
        </form>
    </div>
    </section>

    <div class="newsletter-section">
        <h2>Stay Connected with Our Newsletter</h2>
        <p>Get the latest updates and insights delivered straight to your inbox.</p>
        <form class="newsletter-form" [formGroup]="userDetails1">
            <input type="email" name="email" formControlName="email" placeholder="Email Address" required />
            <button (click)="formSubmit()" type="submit">Subscription</button>
          </form>
      </div>

    <app-footer></app-footer>
</main>