<main>
    <app-navbar></app-navbar>
    <div class="cart-floater" (click)="cartPage()">
        <div>
            <i class="material-symbols-outlined"> shopping_cart </i>
            <span>{{ this.cart.length }}</span>
        </div>
    </div>

    <div class="mainMenu">
        <div class="options-tab">
            <div *ngFor="let item of categories; let i = index">
                <button class="abc" [ngClass]="{ highlight: selectedCategory == i }" (click)="getDiv(i, item)">
                    {{ item.categoryName }}
                </button>
                <div>|</div>
            </div>
        </div>

        <div class="exp">
            <div id="{{ product.routeName }}" *ngIf="product">
                <div class="category-tab">
                    <div>
                        <h3>{{ product.categoryName }}</h3>
                    </div>
                </div>

                <div class="main-container">
                    <div class="inner-container" *ngFor="let p of product.items">
                        <div class="Main1">
                            <div class="image-container">
                                <img [src]="p.icon" />
                            </div>
                            <div class="content-container">
                                <div class="heading3">
                                    <div class="items-main-div">
                                        <h3>{{ p.itemName }}</h3>
                                        <span>&#x24;{{ p.itemPrice }}</span>
                                    </div>
                                    <p>{{ p.itemDescription }}</p>
                                </div>
                            </div>
                            <div class="utility">
                                <button>
                                    <span (click)="subQuantity(p)"> - </span>
                                    <input type="text" value="{{ p.quantity }}" />
                                    <span (click)="addQuantity(p)"> + </span>
                                </button>
                                <button [disabled]="p.quantity == 0" (click)="addToCart(p, product)">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</main>