<main>
    <app-navbar></app-navbar>
    <meta name="title" content="Veg & Non-Vegetarian Restaurant In Montreal | Mont Everest Masala">
    <meta name="description"
        content="Indulge in a culinary journey at Mont Everest Masala with a diverse menu featuring soups, salads, appetisers, seafood delights, biryanis, and vegetarian dishes!">

    <section class="home-banner">
        <h1>Our Menu</h1>
    </section>

    <section class="cart-floater" (click)="cartPage()">
        <div>
            <i class="material-symbols-outlined"> shopping_cart </i>
            <span>{{ this.cart.length }}</span>
        </div>
    </section>

    <section class="mainMenu">
        <div class="options-tab">
            <div *ngFor="let item of categories; let i = index">
                <button class="abc" [ngClass]="{ highlight: selectedCategory == i }" (click)="getDiv(i, item)">
                    {{ item.categoryName }}
                </button>
                <div>|</div>
            </div>
        </div>

        <div class="menu-tab" id="{{ product.routeName }}" *ngIf="product">
            <h3>{{ product.categoryName }}</h3>

            <div class="main-container">
                <div class="inner-container" *ngFor="let p of product.items">
                    <div class="image">
                        <img [src]="p.icon" />
                    </div>
                    <div class="content">
                        <div class="title">
                            <h3>{{ p.itemName }}</h3>
                            <span>&#x24;{{ p.itemPrice }}</span>
                        </div>
                        <p>{{ p.itemDescription }}</p>
                    </div>
                    <div class="utility">
                        <button>
                            <span (click)="subQuantity(p)"> - </span>
                            <input type="text" value="{{ p.quantity }}" />
                            <span (click)="addQuantity(p)"> + </span>
                        </button>
                        <button [disabled]="p.quantity == 0" (click)="addToCart(p, product)">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</main>