main {

    section.home-banner {
        background: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/feee1caa-943a-4fed-b8c5-c8a2eeb11d26_94-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10rem;
        display: grid;
        justify-content: center;
        gap: 20px;
        height: 50vh;
        align-items: center;

        h1 {
            font-family: "Fraunces", serif;
            font-size: 40px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }
    }

    section.gallery {
        padding: 10rem 5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        div {
            width: 32%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {
        section.home-banner {
            padding: 2rem;
    
            h1 {}
        }
        section.gallery {
            padding: 5rem 2rem;

            div {
                width: 47%;
            }
        }
    }
}