main {

    section.label-section {
        background-image: url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/4408c698-9c41-470b-8964-f620365f1cfd_Restaurant-banner.jpeg");
        background-size: cover;
        padding: 11rem 5rem;

        div {
            justify-content: center;
            background: #00000040;
            text-align: center;
            padding: 10px;

            h3 {
                color: white;
                font-size: 50px;
                font-weight: 600;
                font-family: "Fraunces", serif;
                margin: 0px;
            }

            h4 {
                a {
                    color: #ffffff;
                    font-size: 15px;
                    font-family: "Fraunces", serif;
                }

                span {
                    font-size: 15px;
                    color: #fff;
                    font-weight: 700;
                    font-family: "Fraunces", serif;
                }
            }
        }
    }

    section.cart-section {
        padding: 10%;
        display: grid;
        gap: 20px;
        width: 100%;

        .empty-cart-div {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #adadad;
            font-family: "Fraunces", serif;
        }

        .item-div {
            display: grid;
            grid-template-columns: 20% 40% 10% 10% 10%;
            gap: 20px;
            align-items: center;

            div {
                width: 100%;
                position: relative;
                padding: 10px;

                img {
                    width: 100%;
                }

                span {
                    position: absolute;
                    width: 3rem;
                    height: 3rem;
                    top: 0px;
                    background: #865439;
                    border-radius: 50%;
                    display: flex;
                    right: 0;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                }
            }

            h3 {
                font-family: "Fraunces", serif;
                font-size: 22px;
                font-weight: 600;
                margin: 0px;
                text-align: center;
                text-transform: lowercase;
            }

            h3::first-letter {
                text-transform: uppercase;
            }

            p {
                font-size: 16px;
                color: #5f5f5f;
                font-weight: 400;
                font-family: "DM Sans", sans-serif;
                text-align: center;
            }

            button:nth-child(4) {
                display: flex;
                background-color: transparent;
                border: 1px solid #865439;
                align-items: center;
                justify-content: space-around;
                border-radius: 4px;

                span {}

                input {
                    width: 100%;
                    border: none;
                    text-align: center;
                }
            }

            .material-symbols-outlined {
                color: #865439;
                display: flex;
                justify-content: end;
                cursor: pointer;
                font-variation-settings:
                    'FILL' 1,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 48
            }
        }

        .price-div {
            display: flex;
            justify-content: end;

            p {
                font-weight: 600;
                font-family: "Fraunces", serif;

                span {
                    font-weight: 900;
                    color: #865439;
                    font-size: 20px;
                }
            }
        }

        .continue-div {
            display: flex;
            justify-content: end;

            button {
                border: 1px solid #865439;
                padding: 10px 20px;
                background: #865439;
                font-size: 14px;
                color: #fff;
                font-family: "Fraunces", serif;
                border-radius: 4px;
            }

            button:disabled {
                background-color: transparent;
                border: 1px solid #865439;
                color: #865439;
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    main {
        section.cart-section {
            padding: 5%;

            .item-div {
                display: grid;
                grid-template-columns: 25% 30% 10% 15% 10%;
                gap: 10px;
            }

            .continue-div {
                button {
                    width: 50%;
                }
            }
        }
    }
}