<main>
    <app-navbar></app-navbar>
    <section class="home-banner">
        <h1>Cart</h1>
    </section>

    <section class="cart-section" *ngIf="totalPrice !== 0">
        <div *ngFor="let item of cart; let j = index" class="item-div">
            <div>
                <img alt="quantity" [src]="item.itemIcon" alt="">
                <span>{{item.itemQuantity}}</span>
            </div>
            <h3>{{item.itemName | translate}}</h3>
            <p>&#x24;{{item.itemPrice}}</p>
            <button>
                <span (click)="subQuantity(item, j)">
                    -
                </span>
                <input type="text" value="{{item.itemQuantity}}">
                <span (click)="addQuantity(j)">
                    +
                </span>
            </button>
            <span (click)="removeItem(j)" class="material-symbols-outlined">
                delete
            </span>
        </div>

        <div class="bottom">
            <p>{{ 'CART.totalprice' | translate }} <span>&#x24;{{totalPrice}}</span></p>
            <button [disabled]="totalPrice == 0" (click)="checkoutPage()">{{ 'CART.checkout' | translate }}</button>
        </div>
    </section>

    <section class="cart-section" *ngIf="totalPrice == 0">
        <div class="empty-cart-div">
            {{ 'CART.emptycart' | translate }}
        </div>
    </section>

    <app-footer></app-footer>
</main>