main {
    background-color: #0E0E0E;

    section.home-banner {
        position: relative;

        img {
            width: 100%;
        }

        @keyframes slideUpFade {
            0% {
                opacity: 0;
                transform: translateY(100px);
            }

            50% {
                opacity: 0;
                transform: translateY(200px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .content-section {
            position: absolute;
            top: 40%;
            left: 0;
            margin: auto;
            right: 0;
            width: 70%;
            text-align: center;
            animation: slideUpFade 1.5s ease forwards;

            h1 {
                text-align: center;
                color: #fff;
                font-size: 80px;
                font-weight: 400;
                font-family: "Fraunces", serif;
                margin: auto;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            }
        }
    }

    section.aboutus {
        background-color: #fff;
        padding: 5%;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        .aboutus-content {
            width: 50%;
            display: grid;
            gap: 20px;

            h5 {
                text-align: start;
                font-size: 50px;
                color: #865439;
                font-weight: 100;
                margin: 0;
                font-family: "Dancing Script", cursive;
            }

            h2 {
                text-align: start;
                color: #000;
                font-size: 50px;
                font-weight: 400;
                margin: 0;
                font-family: "Fraunces", serif;
            }

            p {
                font-size: .875rem;
                color: #5f5f5f;
                font-weight: 400;
                line-height: 27px;
                font-family: system-ui;
            }

            button {
                width: 50%;
                cursor: pointer;
                background-color: transparent;
                padding: 15px 35px;
                font-size: 16px;
                font-weight: 400;
                color: #865439;
                border: none;
                font-family: monospace;
                border: 1px solid #865439;
                border-radius: 5px;

                &:hover {
                    background-color: #865439;
                    color: #fff;
                }
            }
        }

        .aboutus-image {
            width: 50%;
            display: flex;

            img {
                width: 100%;
                margin: auto;
            }
        }
    }

    section.our-restaurent {
        background-image: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/73b5d437-e4b2-452a-ab18-9616a395496c_our-restaurent.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5%;

        .heading-div {
            h2 {
                text-align: center;
                color: #ffff;
                font-size: 50px;
                font-weight: 400;
                margin: 0;
                font-family: "Fraunces", serif;
            }

            h5 {
                text-align: center;
                font-size: 50px;
                color: #865439;
                font-weight: 100;
                margin: 0;
                font-family: "Dancing Script", cursive;
            }
        }

        .restaurent-content {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 5% 0%;

            .inner-container {
                width: 33%;

                img {
                    width: 100%;
                    margin: auto;
                }

                .line_height {
                    height: 75px;
                    width: 1px;
                    margin: 30px auto;
                    border-left: 1px solid #e3c7b8;
                }

                h2 {
                    text-align: center;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 400;
                    margin: 0;
                    font-family: "Fraunces", serif;
                }

                p {
                    text-align: center;
                    font-size: .875rem;
                    color: #fff;
                    line-height: 27px;
                    font-family: system-ui;
                }
            }

            .inner-container:nth-child(2n+1) {
                padding-top: 9%;
            }
        }
    }

    section.seafood-banner {
        background-image: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/9c5f5bb2-cbdd-4ed4-880d-7785ea30fc90_Banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5%;

        .seafood-heading {
            margin: auto;
            padding: 15%;

            h5:nth-child(1) {
                text-align: start;
                font-size: 100px;
                color: #fff;
                font-weight: 100;
                margin: 0;
                font-family: "Dancing Script", cursive;
            }

            h5:nth-child(2) {
                text-align: end;
                font-size: 100px;
                color: #fff;
                font-weight: 100;
                margin: 0;
                font-family: "Dancing Script", cursive;
            }
        }
    }

    section.special-dishes {
        background-color: #fff;
        padding: 5%;

        h2 {
            text-align: center;
            color: #000;
            font-size: 50px;
            font-weight: 400;
            margin: 0;
            font-family: "Fraunces", serif;
        }

        h5 {
            text-align: center;
            font-size: 50px;
            color: #865439;
            font-weight: 100;
            margin: 0;
            font-family: "Dancing Script", cursive;
        }

        .item-container {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;

            div {
                width: 25%;

                img {
                    width: 100%;
                    border-radius: 50%;
                    height: 42vh;
                    object-fit: cover;
                }

                h3 {
                    text-align: center;
                    color: #000;
                    font-size: 21px;
                    font-weight: 400;
                    font-family: "Fraunces", serif;
                    text-transform: uppercase;
                    line-height: 40px;
                    margin-top: 8px;
                }

                p {
                    text-align: center;
                    color: #5f5f5f;
                    font-size: 14px;
                    font-weight: 100;
                    font-family: monospace;
                }
            }
        }
    }

    section.services {
        background-color: #FFF9F6;
        padding: 5%;

        h2 {
            text-align: center;
            color: #000;
            font-size: 50px;
            font-weight: 400;
            margin: 0;
            font-family: "Fraunces", serif;
        }

        h5 {
            text-align: center;
            font-size: 50px;
            color: #865439;
            font-weight: 100;
            margin: 0;
            font-family: "Dancing Script", cursive;
        }

        .upper-image-container {
            display: flex;
            gap: 35px;
            overflow-x: auto;
            margin-top: 50px;

            .image-container {
                display: flex;
                align-items: center;
                background: #fff;
                min-width: 50%;

                div {
                    width: 50%;

                    img {
                        width: 100%;
                        height: 50vh;
                        object-fit: cover;
                    }

                    svg {
                        margin: auto;
                        display: flex;
                    }

                    h3 {
                        text-align: center;
                        color: #000;
                        font-size: 21px;
                        font-weight: 400;
                        font-family: "Fraunces", serif;
                        text-transform: uppercase;
                        line-height: 40px;
                        margin-top: 8px;
                    }

                    p {
                        text-align: center;
                        color: #5f5f5f;
                        font-size: 14px;
                        font-weight: 400;
                        font-family: system-ui;
                    }
                }
            }
        }

        .upper-image-container::-webkit-scrollbar {
            display: none;
        }
    }

    section.testimonials {
        .our-clients {
            background: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 30px 0;

            hr {
                content: "";
                width: 60px;
                height: 2px;
                margin-left: auto;
                margin-right: auto;
                border-width: 4px;
                color: #fff;
            }

            .main-container {
                position: relative;
                width: 100%;
                height: 55vh;
                overflow: hidden;

                .item-1,
                .item-2,
                .item-3 {
                    position: absolute;
                    display: block;
                    top: 2em;
                    left: 5rem;
                    width: 60%;
                    font-size: 2em;
                    animation-duration: 20s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    display: grid;

                    .review {
                        text-align: center;
                        margin: auto;

                        h5 {
                            text-align: center;
                            color: #000;
                            font-size: 21px;
                            font-weight: 400;
                            margin: 0;
                            font-family: "Fraunces", serif;
                        }

                        img {
                            width: 15%;
                            margin: auto;
                        }

                        p {
                            text-align: center;
                            color: #2d2d2d;
                            font-size: 18px;
                            font-weight: 400;
                            margin: 0;
                            font-family: "Fraunces", serif;
                        }
                    }
                }

                .item-1 {
                    animation-name: anim-1;
                }

                .item-2 {
                    animation-name: anim-2;
                }

                .item-3 {
                    animation-name: anim-3;
                }

                @keyframes anim-1 {

                    0%,
                    8.3% {
                        left: -100%;
                        opacity: 0;
                    }

                    8.3%,
                    25% {
                        left: 20%;
                        opacity: 1;
                    }

                    33.33%,
                    100% {
                        left: 110%;
                        opacity: 0;
                    }
                }

                @keyframes anim-2 {

                    0%,
                    33.33% {
                        left: -100%;
                        opacity: 0;
                    }

                    41.63%,
                    58.29% {
                        left: 20%;
                        opacity: 1;
                    }

                    66.66%,
                    100% {
                        left: 110%;
                        opacity: 0;
                    }
                }

                @keyframes anim-3 {

                    0%,
                    66.66% {
                        left: -100%;
                        opacity: 0;
                    }

                    74.96%,
                    91.62% {
                        left: 20%;
                        opacity: 1;
                    }

                    100% {
                        left: 110%;
                        opacity: 0;
                    }
                }
            }
        }
    }

    section.information {
        background-color: #FFF9F7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;

        div {
            width: 25%;
            height: 20vh;

            svg {
                display: flex;
                margin: auto;
            }

            h3 {
                text-align: center;
                color: #000;
                font-size: 21px;
                font-weight: 400;
                font-family: "Fraunces", serif;
                text-transform: uppercase;
                line-height: 40px;
                margin-top: 8px;
            }

            a {
                text-decoration: none;

                p {
                    text-align: center;
                    color: #5f5f5f;
                    font-size: 16px;
                    font-weight: 100;
                    font-family: monospace;
                }
            }
        }
    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {

        section.home-banner {

            .content-section {
                position: absolute;
                top: 35%;

                h1 {
                    font-size: 20px;
                }
            }
        }

        section.aboutus {
            padding: 5rem 2rem;
            display: grid;
            justify-content: center;

            .aboutus-content {
                width: 100%;

                h5 {
                    font-size: 35px;
                }

                h2 {
                    font-size: 22px;
                }

                p {
                    font-size: 16px;
                }

                button {
                    width: 100%;
                }
            }

            .aboutus-image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

        }

        section.our-restaurent {
            padding: 5%;

            .heading-div {

                h2,
                h5 {
                    font-size: 35px;
                }
            }

            .restaurent-content {
                display: grid;
                justify-content: center;
                gap: 30px;
                padding: 5%;

                .inner-container {
                    width: 100%;

                    img {
                        width: 100%;
                        margin: auto;
                    }

                    .line_height {
                        height: 75px;
                        width: 1px;
                        margin: 30px auto;
                        border-left: 1px solid #e3c7b8;
                    }

                    h2 {}

                    p {}
                }

                .inner-container:nth-child(2n+1) {
                    padding-top: 0%;
                }
            }
        }

        section.seafood-banner {
            padding: 10%;

            .seafood-heading {
                margin: auto;
                padding: 5%;

                h5:nth-child(1) {
                    text-align: start;
                    font-size: 35px;
                }

                h5:nth-child(2) {
                    font-size: 35px;
                }
            }
        }

        section.special-dishes {
            padding: 10px;

            h2 {
                font-size: 35px;
            }

            h5 {
                font-size: 35px;
            }

            .item-container {
                flex-direction: column;

                div {
                    width: 100%;

                    img {
                        height: 50vh;
                    }

                    h3 {}

                    p {}
                }
            }
        }

        section.services {
            background-color: #FFF9F6;
            padding: 5%;

            h2 {
                font-size: 35px;
            }

            h5 {
                font-size: 35px;
            }

            .upper-image-container {
                display: flex;
                gap: 35px;
                overflow-x: auto;
                margin-top: 50px;

                .image-container {
                    display: grid;
                    min-width: 100%;

                    div {
                        width: 100%;

                        img {}

                        svg {}

                        h3 {}

                        p {}
                    }
                }
            }
        }

        section.testimonials {
            .our-clients {
                .main-container {
                    height: 85vh;
                }
            }
        }

        section.information {
            flex-direction: column;
            padding: 10px;

            div {
                width: 100%;
                height: 100%;

                svg {}

                h3 {}

                a {

                    p {}
                }
            }
        }
    }
}