main {
    font-family: "Poppins", sans-serif;

    section.home-banner {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 5rem 10rem;
        background-image: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/5620bd9b-efdd-42b6-b0f1-8a499e6618b9_Ellipse%2015.png');
        background-position: bottom;
        background-repeat: no-repeat;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 70%;
            margin: auto;
            text-align: center;

            h1 {
                font-weight: 600;
                font-size: 40px;
                color: #212121;
                margin: 0;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                color: #212121;
                margin: 0;
                line-height: 30px;
                width: 60%;
            }

            button {
                border-radius: 8px;
                background: #07F;
                padding: 15px 90px;
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                border: 1px solid #07F;

                &:hover {
                    background: #fff;
                    color: #07F;
                }
            }
        }

        .content {
            position: relative;
            display: flex;

            .floater1 {
                position: absolute;
                left: 50px;
                top: 0;
                width: 7rem;
            }

            .floater2 {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 7rem;
            }

            .bigimage {
                width: 60%;
                margin: auto;

                img {
                    width: 100%;
                }
            }
        }
    }

    section.about {
        padding: 5rem 10rem;
        background-color: #F0F4FD;

        .aboutbox {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            padding: 5rem;
            border-radius: 15px;
            align-items: center;
            background-color: #ffffff;
            box-shadow: 0px 4px 4px 0px #00000040;

            .image {
                width: 50%;

                img {
                    width: 100%;
                }
            }

            .content {
                width: 50%;
                display: grid;
                gap: 20px;

                h2 {
                    font-weight: 600;
                    font-size: 40px;
                    color: #212121;
                    margin: 0;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    color: #212121;
                    margin: 0;
                    line-height: 30px;
                }

                button {
                    border-radius: 8px;
                    background: #07F;
                    padding: 15px 90px;
                    color: #FFF;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    border: 1px solid #07F;
                    width: fit-content;

                    &:hover {
                        background: #fff;
                        color: #07F;
                    }
                }
            }
        }
    }

    section.seafood-banner {
        padding: 5rem 10rem;
        display: grid;
        gap: 40px;
        background-image: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/8e13b9fa-fd7c-4f6d-a133-c4776691048a_Frame%2036.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            display: grid;
            gap: 20px;
            text-align: center;
            width: 70%;
            margin: auto;

            h2 {
                font-weight: 600;
                font-size: 40px;
                color: #fff;
                margin: 0;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                margin: 0;
                line-height: 30px;
            }

        }

        .image {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            flex-wrap: wrap;

            img {
                width: 26%;
            }
        }
    }

    section.easy-sale {
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: #F0F4FD;
        padding: 5rem 20rem;

        h2 {
            font-weight: 600;
            font-size: 40px;
            color: #1e1e1e;
            width: 60%;
            text-align: center;
            margin: auto;
        }

        .wide-image {

            img {
                width: 100%;
            }
        }

        .second-section {
            display: flex;
            gap: 40px;
            flex-wrap: wrap;

            .imagesize {
                width: 48%;

                img {
                    width: 100%;
                }
            }
        }
    }

    section.delivery {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;
        background-color: #fff;
        padding: 5rem 15rem;

        .content {
            width: 50%;
            display: grid;
            gap: 20px;

            h2 {
                font-weight: 600;
                font-size: 40px;
                color: #1e1e1e;
                margin: 0;
            }

            .details {
                display: grid;
                gap: 20px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 6rem;
                    }

                    p {
                        color: #000000;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }

        .image {
            width: 50%;
            display: flex;

            img {
                width: 70%;
                margin: auto;
            }
        }
    }

    section.belief {
        background: #F0F4FD;
        padding: 5rem 10rem;

        .box-container {
            background-color: #E2EBFF;
            border-radius: 20px;
            padding: 5rem;
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: space-between;

            .content {
                width: 50%;
                display: grid;
                gap: 20px;

                h2 {
                    font-weight: 600;
                    font-size: 40px;
                    color: #1e1e1e;
                    margin: 0;
                }

                .beliefs {
                    display: grid;
                    gap: 20px;

                    .belief {
                        background: #fff;
                        padding: 20px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 20px;

                        img {
                            width: 20%;
                            border-radius: 8px;
                        }

                        .belief-content {
                            display: grid;
                            gap: 10px;

                            h4 {
                                font-weight: 600;
                                font-size: 20px;
                                color: #1e1e1e;
                                margin: 0;
                            }

                            p {
                                font-weight: 500;
                                font-size: 16px;
                                color: #1e1e1e;
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .image {
                width: 50%;
                display: flex;

                img {
                    width: 60%;
                    margin: auto
                }
            }
        }

    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {

        section.home-banner {
            padding: 5rem 2rem;

            .title {
                width: 100%;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 16px;
                    width: 100%;
                }
            }

            .content {

                .floater1,
                .floater2 {
                    display: none;
                }

                .bigimage {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        section.about {
            padding: 5rem 2rem;

            .aboutbox {
                flex-direction: column;
                padding: 2rem;

                .image {
                    width: 100%;
                }

                .content {
                    width: 100%;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        section.seafood-banner {
            padding: 5rem 2rem;

            .title {
                width: 100%;

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 16px;
                }
            }

            .image {

                img {
                    width: 100%;
                }
            }
        }

        section.easy-sale {
            padding: 5rem 2rem;

            h2 {
                width: 100%;
                font-size: 30px;
            }

            .second-section {

                .imagesize {
                    width: 100%;
                }
            }
        }

        section.delivery {
            flex-direction: column;
            padding: 5rem 2rem;

            .content {
                width: 100%;

                h2 {
                    font-size: 30px;
                }
            }

            .image {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        section.belief {
            padding: 5rem 2rem;

            .box-container {
                padding: 2rem;
                flex-direction: column;

                .content {
                    width: 100%;

                    h2 {
                        font-size: 30px;
                    }

                    .beliefs {
                        .belief {
                            flex-direction: column;

                            img {
                                width: 100%;
                                height: 20rem;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .image {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}